
<!--header-->
<%- include('../user/partials/header') %> 

<!--Navbar-->
<%- include('../admin/partials/nav') %>
<style>

.small-img {
            margin-bottom: 10px;
        }
        .preview-image {
            max-width: 100%;
            height: auto;
        }

</style>


<section>
    <div class="container-fluid p-0 m-0">
        <div class="row p-0">
            <div class="col-2 p-0">
                <%- include('../admin/partials/sidebar') %>
            </div>
            <div class="col-10 p-0 m-0">
                <%if(locals.error){%>
                    <p style="color: red; text-align: center;"><%=error%></p>
                   <%}%>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data" id="form">
                    <div class="row p-0 " style="justify-content: space-evenly;">
                        <div class="col-10 p-0 m-0">
                    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                        <div class="row p-0">

                            <div class="col-lg-3 p-0">
                                <div class="col-lg-12 small-img">
                                    <input type="file" name="productImage1" id="productImage1" accept="image/*" onchange="previewImage(event, 'preview1')">
                                    <div class="preview" id="preview1"></div>
                                </div>
                                <div class="col-lg-12 small-img">
                                    <input type="file" name="productImage2" id="productImage2" accept="image/*" onchange="previewImage(event, 'preview2')">
                                    <div class="preview" id="preview2"></div>
                                </div>
                                <div class="col-lg-12 small-img">
                                    <input type="file" name="productImage3" id="productImage3" accept="image/*" onchange="previewImage(event, 'preview3')">
                                    <div class="preview" id="preview3"></div>
                                </div>
                            <div class="col-lg-12 small-img">
                                <input type="file" name="productImage4" id="productImage4" accept="image/*" onchange="previewImage(event, 'preview4')">
                                <div class="preview" id="preview4"></div>
                            </div>
                        </div>
                        <div class="col-5">
                            <input type="file" name="mainImage" id="mainImage" accept="image/*" onchange="previewImage(event, 'preview5')">
                            <div class="preview"  id="preview5"></div>
                        </div>
                        <div class="col-4">
                                         <!-- Your form fields here -->
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" id="category" name="category">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category._id %>">"<%= category.CategoryName %>"</option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" id="productName" name="productName" placeholder="eg:Samsung S23 Ultra">
                                <% if (locals.nameErr) { %>
                                    <p style="color: rgb(207, 0, 0); font-size: 13px;" id="productError"><%= locals.nameErr %></p>
                                  <% } %>
                                  <p id="productNameError"></p>
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" class="form-control" id="price" name="price" placeholder="eg:8000">
                                <p id="priceError"></p>
                                <% if (locals.priceErr) { %>
                                    <p style="color: rgb(207, 0, 0); font-size: 13px;" id="productError"><%= locals.priceErr %></p>
                                  <% } %>
                            </div>
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input type="number" class="form-control" id="stock" name="stock" placeholder="eg:500">
                                <p id="stockError"></p>
                                <% if (locals.stockErr) { %>
                                    <p style="color: rgb(207, 0, 0); font-size: 13px;" id="stockErr"><%= locals.stockErr %></p>
                                  <% } %>
                            </div>
                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <select class="form-control" id="brand" name="brand">
                                    <% Brand.forEach(brand => { %>
                                        <option value="<%= brand._id %>"><%= brand.brandName %></option>
                                        <!-- Replace 'brandName' with the actual field name containing brand names -->
                                    <% }); %>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" placeholder="This is flagship edition of Samsung and it's very expensive"></textarea>
                                <p id="descriptionError"></p>
                            </div>
                            <div class="form-group">
                                <label for="specification1">Specification 1</label>
                                <textarea class="form-control" id="specification1" name="specifications[]" placeholder="8 GB RAM 128 GB ROM"></textarea>
                                <p id="specification1Error"></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="specification2">Specification 2</label>
                                <textarea class="form-control" id="specification2" name="specifications[]" placeholder="Another specification"></textarea>
                                <p id="specification2Error"></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="specification3">Specification 3</label>
                                <textarea class="form-control" id="specification3" name="specifications[]" placeholder="Yet another specification"></textarea>
                                <p id="specification3Error"></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="specification4">Specification 4</label>
                                <textarea class="form-control" id="specification4" name="specifications[]" placeholder="One more specification"></textarea>
                                <p id="specification4Error"></p>
                            </div>
                            <div class="cancel-sub">
                                <a href="/admin/products"><button class="btn-cancel">Cancel</button></a>
                                <button type="submit" class="btn-sub">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/node_modules/cropperjs/dist/cropper.min.js"></script>
<script src="index.js"></script>

<script>
    function previewImage(event, previewId) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(event) {
            const preview = document.getElementById(previewId);
            const img = document.createElement('img');
            img.src = event.target.result;
            img.className = 'preview-image';
            preview.innerHTML = '';
            preview.appendChild(img);
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    var errmsg = document.getElementById('productError')
    setTimeout(() => {
        errmsg.innerHTML = ""
    }, 3000);


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Form Validation>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/errmsg

            // field empty function
            function isEmpty(value){
                const trimmedValue = value.trim()
                return trimmedValue ===""
            }
            function isValid(value){
                const regex = /^[a-zA-Z]+$/
                return regex.test(value)
            }

            function numberValid(value){
                return value>0
            }

            document.querySelector('#form').addEventListener('submit', function(event){

            // Product Name 
            const productNameInput = document.querySelector('#productName')
            const productNameValue = productNameInput.value
            const productNameError = document.querySelector('#productNameError')

            // Description
            const descriptionInput = document.querySelector('#description')
            const descriptionValue = descriptionInput.value
            const descriptionError = document.querySelector('#descriptionError')

            // Specifications1
            const specification1Input = document.querySelector('#specification1')
            const specification1Value = specification1Input.value
            const specification1Error = document.querySelector('#specification1Error')

            // Specification 2
            const specification2Input = document.querySelector('#specification2')
            const specification2Value = specification2Input.value
            const specification2Error = document.querySelector('#specification2Error')

            // Specifiaction 3
            const specification3Input = document.querySelector('#specification3')
            const specification3Value = specification3Input.value
            const specification3Error = document.querySelector('#specification3Error') 

            // Specification 4
            const specification4Input = document.querySelector('#specification4')
            const specification4Value = specification4Input.value
            const specification4Error = document.querySelector('#specification4Error')

            // Price
            const priceInput = document.querySelector('#price')
            const priceValue = priceInput.value
            const priceError = document.querySelector('#priceError')

            // Stock
            const stockInput = document.querySelector('#stock')
            const stockValue = stockInput.value
            const stockError = document.querySelector('#stockError')

            productNameError.textContent=""
            descriptionError.textContent=""
            specification1Error.textContent=""
            specification2Error.textContent=""
            specification3Error.textContent=""
            specification4Error.textContent=""
            priceError.textContent=""
            stockError.textContent=""

            if(isEmpty(productNameValue)){
                productNameError.textContent="Product Name cannot be empty"
                productNameError.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(descriptionValue)){
                descriptionError.textContent="description cannot be empty"
                descriptionError.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(specification1Value)){
                specification1Error.textContent="specification cannot be empty"
                specification1Error.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(specification2Value)){
                specification2Error.textContent="specification cannot be empty"
                specification2Error.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(specification3Value)){
                specification3Error.textContent="specification cannot be empty"
                specification3Error.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(specification4Value)){
                specification4Error.textContent="specification cannot be empty"
                specification4Error.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(priceValue)){
                priceError.textContent="Price cannot be empty"
                priceError.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(stockValue)){
                stockError.textContent="stock cannot be empty"
                stockError.style.color="red"
                event.preventDefault()
            }


            // input validation
            // if(!isValid(productNameValue)){
            //     productNameError.textContent="only use alphabets"
            //     productNameError.style.color="red"
            //     event.preventDefault()
            // }
            // if(!isValid(descriptionValue)){
            //     descriptionError.textContent="only use alphabets"
            //     descriptionError.style.color="red"
            //     event.preventDefault()
            // }

            if(!numberValid(priceValue)){
                priceError.textContent="please enter valid price"
                priceError.style.color="red"
                event.preventDefault()
            }
            if(!numberValid(stockValue)){
                stockError.textContent="please enter valid stock"
                stockError.style.color="red"
                event.preventDefault()
            }
        });

</script>
