<!--header-->

<%- include('../user/partials/header') %> 

<!--Navbar-->

<%-include('../admin/partials/nav') %>

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-lg-2">
      <%-include('../admin/partials/sidebar') %>
    </div>
    <div class="col-lg-10">
      <div class="button-div d-flex justify-content-end">
        <button class="add-btn">
          <a href="/admin/add-category" style="color: rgb(255, 255, 255); text-decoration: none;">Add category</a>
        </button>
      </div>
      <%if(locals.msg){%>
        <p style="color: green;text-align: center;"><%msg%></p>
      <%}%>
      <p></p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach((category, index) => { %>
              <tr>
                <td><%= category.CategoryName %></td>
                <td>
                  <a href="/admin/edit-category/<%= category._id %>">
                    <i class="fa-solid fa-pen-to-square" style="color: #000000;"></i>
                  </a>
                </td>
                <td>
                  <form action="/admin/delete-category/<%=category._id %>" method="post" onsubmit="return confirmDelete('<%= category._id %>')">
                    <input type="hidden" name="categoryId" value="<%= category._id %>">
                    <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">
                      <i class="fa-solid fa-trash" style="color: #000000;"></i>
                    </button>
                  </form>
                </td>
                <td><%if(category.createdAt instanceof Date){%>
                  <%=category.createdAt.toLocaleDateString('en-GB') %>

                  <% } else { %>
                    N/A
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--pagination-->
<div class="pagination">
  <% if(currentPage > 1){%>
    <a class="next-btn text-white" href="/admin/category?page=<%= currentPage - 1 %>">Previous</a>
  <%  } %>

  <% for(let i=1; i<=totalPages; i++) { %>
    <% if(i===currentPage){ %>
      <span><%=i %></span>
    <% } else { %>
      <a class="second"  href="/admin/category?page=<%= i %>"><%= i %></a>
    <% } %>
  <% } %>
  
  <% if(currentPage < totalPages) { %>
    <a class="next-btn text-white" href="/admin/category?page=<%=currentPage + 1 %>">Next</a>

  <%  } %>
</div>


<script>
  function confirmDelete(categoryId) {
    var confirmation = confirm("Are you sure you want to delete this category?");
    return confirmation;
  }
</script>
