<%- include('../user/partials/header') %>
<%- include('../user/partials/links') %>

<!-- Navbar -->
<%- include('../admin/partials/nav') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 addcategory-img">
            <img src="/images/theme/brand-bg.jpg" alt="" style="width:100%;">
        </div>
        <div class="col-lg-4 add-brand ">
            <form class="signup-form1 " action="/admin/edit-brand/<%=brand._id %>" method="post" enctype="multipart/form-data" id="form">
                <div class="mb-3">
                    <label for="brandName" class="form-label text-center">Enter the Brand Name</label>
                    <input type="text" class="form-control1" id="brand" name="brandName" value="<%=brand.brandName %>">
                    <%if(locals.existingErr){%>
                        <p style="color: red;"><%=existingErr%></p>
                    <%}%>
                    <p id="brandError"></p>
                    <label for="image" class="form-label text-center">Upload Image</label>
                    <input type="file" class="form-control1" id="logo" name="logo" onchange="displaySelectedImage(event)" accept="image/*">
                    <%if(locals.imageErr){%>
                        <p style="color: red;"><%=imageErr%></p>
                    <%}%>
                    <div id="selected-image-container">
                        <% if (brand.image) { %>
                            <img src="/uploads/<%= brand.image %>" alt="Brand Logo" style="width: 100%;">
                        <% } else { %>
                            <h6 class="text-center">No Image Selected</h6>
                        <% } %>
                    </div>
                </div>
                
                
                <button type="submit" class="btn category-btn">Update</button>
            </form>
        </div>
        <div class="col-lg-3"  id="selected-image-container" style="background-color:#a198988a ;">
            <!-- Selected image will be displayed here -->
            <h6 class="text-center">Brand Logo</h6>
        </div>
        
    </div>
</div>
<script>
    function displaySelectedImage(event) {
        const selectedImage = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function(event) {
            const selectedImageContainer = document.getElementById('selected-image-container');
            const img = document.createElement('img');
            img.src = event.target.result;
            img.style.width = '100%'; // Set image width to 100%
            selectedImageContainer.innerHTML = ''; // Clear previous content
            selectedImageContainer.appendChild(img); // Append the image to the container
        };

        if (selectedImage) {
            reader.readAsDataURL(selectedImage); // Read the selected image as Data URL
        }
    }

    function isEmpty(value){
        const trimmed = value.trim()
        return trimmed===""
    }
    function isValid(value){
        const regex = /^[a-zA-Z]+$/
        return regex.test(value)
    }

    document.querySelector('#form').addEventListener('submit',function(event){
        const brandName = document.querySelector('#brand')
        const brandValue = brandName.value
        const brandError = document.querySelector('#brandError')

        brandError.textContent=""

        if(isEmpty(brandValue)){
            brandError.textContent="Brand Name is required"
            brandError.style.color="red"
            event.preventDefault()
        }
        if(!isValid(brandValue)){
            brandError.textContent="please enter valid Brand Name"
            brandError.style.color="red"
            event.preventDefault()
        }
    })
</script>
