<!--header-->

<%- include('../user/partials/header') %>

<!--Navbar-->
<%-include('../admin/partials/nav') %>

<body style="background: linear-gradient(to top left, rgb(4, 75, 71), rgb(2, 89, 116));">

    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 p-0">
            <%-include('../admin/partials/sidebar') %>
        </div>
        <div class="col-lg-6 p-0">
            <section class="h-100 gradient-custom shadow">
                <div class="container-fluid py-2 h-100 ">
                  <div class="row h-100 p-3">
                    <div class="col-12 px-2">
                      <div class="card shadow" style="border-radius: 10px;">
                        <div class="card-body p-4">
                          <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <% if (userOrderWithProducts && userOrderWithProducts.length > 0) { %>
                                  <% userOrderWithProducts.forEach(order => { %>
                                    <% if (order.userOrderedProducts) { %>
                                        <ul class="orderli">
                                            <li>Product</li>
                                            <li>Product Name</li>
                                            <li>Specififcation</li>
                                            <li>Quantity</li>
                                            <li>Price</li>
                                        </ul>
                                        <div class="row">
                                          <div class="col-md-3">
                                            <img src="/uploads/<%= order.userOrderedProducts.image[4] %>" class="img-fluid" alt="Phone" width="120px">
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0"><%= order.userOrderedProducts.productName %> </p>
                                          </div>
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0 small"><%= order.userOrderedProducts.specifications[0] %></p>
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0 small"> <%= order.products.quantity %></p>
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <% if(order.userOrderedProducts.discountedPrice > 0 ){ %>
                                              <p class="text-dark mb-0 small"><%= order.userOrderedProducts.discountedPrice %></p>
                                            <% }else{ %>
                                              <p class="text-dark mb-0 small"><%= order.userOrderedProducts.price %></p>
                                            <% } %>
                                          </div>
                                        </div>
                                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    <% } else { %>
                                      <h3>No data available</h3>
                                    <% } %>
                                  <% }) %>
                                <% } else { %>
                                  <h3>No data available</h3>
                                <% } %>
                              </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <h3 class="text-center text-success mb-4">USER ADDRESS</h3>
                          <% if (addressFound) { %>
                              <div class="row">
                                <div class="col-lg-6" style="padding: 0px 28px;">
                                  <h6><span class="order-span1 text-dark">Full Name:</span> <%= addressFound.fullName.toUpperCase()%></h6>
                                  <h6><span class="order-span1">PhoneNumber:</span> <%= addressFound.phoneNumber %></h6>
                                  <h6><span class="order-span1">Email:</span> <%= addressFound.email %></h6>
                                  <h6><span class="order-span1">Country:</span> <%= addressFound.country %></h6>
                                  <h6><span class="order-span1">PinCode:</span> <%= addressFound.pinCode %></h6>
                                  <h6><span class="order-span1">State:</span> <%= addressFound.state %></h6>
                                </div>
                                <div class="col-lg-6" style="padding: 0px 28px;">
                                  <h6><span class="order-span1">District:</span> <%= addressFound.district %></h6>
                                  <h6><span class="order-span1">City:</span> <%= addressFound.city %></h6>
                                  <h6><span class="order-span1">Area:</span> <%= addressFound.area %></h6>
                                  <h6><span class="order-span1">Street:</span> <%= addressFound.street %></h6>
                                  <h6><span class="order-span1">Building:</span> <%= addressFound.building %></h6>
                                  <h6><span class="order-span1">House Number:</span> <%= addressFound.houseNumber %></h6>
                                  <!-- Add other details here for the second column -->
                                </div>
                              </div>
                          <% } %>
                        </div>
                        <div class="card-footer border-0 "
                          style="background-color: #001524;padding: 7px; border-bottom-left-radius: 15px; border-bottom-right-radius: 10px; margin-bottom: 10px; margin-top: 40px;">
                          <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total : <%=orderFound.totalAmount %></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
        <div class="col-4 mt-3 pl-3 sideUser">
            <div class="col-lg-12  userDpDiv2">
                <div class="row justify-content-center align-items-center">
                    <% if (userOrderWithProducts && userOrderWithProducts.length > 0) {
                        const order = userOrderWithProducts[0]; // Accessing the first order %>
                        <div class="col-5 p-0">
                            <div class="rounded-circle overflow-hidden" style="width: 75%; margin: auto;">
                                <% if (order.userProfileImage) { %>
                                    <img src="/uploads/profile_images/<%= order.userProfileImage %>" class="selected-image" alt="">
                                <% } else { %>
                                    <img src="/png/userNew.png" class="selected-image" alt="Default Image">
                                <% } %>
                            </div>
                        </div>
                        <div class="col-7 p-0">
                            <% if (order.addressinfoaddress && order.addressinfoaddress.length > 0) { %>
                              <% order.addressinfoaddress.forEach(item =>{ %>
                                <p class="text-white tag"> <span class="order-span">Full Name:</span> <%= item.fullName %></p>
                                <p class="text-white tag"> <span class="order-span">Email:</span> <%= item.email %></p>
                                <p class="text-white tag"> <span class="order-span">Mobile: </span><%= item.phoneNumber %></p>
                                <p class="text-white tag"> <span class="order-span">PinCode:</span><%= item.pinCode %></p>
                                <% }) %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-12 mt-5 order-details">
                <% if(orderFound){ %>
                    <h6 class="order-value"><span class="order-data">Payment Mode:</span><%= orderFound.paymentmode %></h6>
                    <h6 class="order-value"><span class="order-data">Shipping Method:</span><%= orderFound.shippingMethod %></h6>
                    <h6 class="order-value"><span class="order-data">Delivery Date:</span><%= orderFound.deliveryDate.toLocaleString() %></h6>
                    <h6 class="order-value"><span class="order-data">Status:</span><%= orderFound.status %></h6>
                    <h6 class="order-value"><span class="order-data">Total Amount:</span><%= orderFound.totalAmount %></h6>
                <% } %>
            </div>
        </div>
</div>
</body>