<!--------header---------->
<%- include('../user/partials/header') %> 

<!--------navbar---------->
<%- include('../user/partials/navbar') %>

<body>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 p-0">
            <%-include('../user/partials/sidebar') %>
        </div>
        <% if(locals.error){%>
            <h6 class="text-danger"><%=error%></h6>
        <%}%>
        <% if (alladdress && alladdress.length > 0) { %>
            <% alladdress.forEach((item) => { %>
                <% if (Array.isArray(item.address)) { %>
                    <% item.address.forEach((data) => { %>
                        <div class="col-lg-3 col-md-3 mt-5 ml-4 col-sm-6 col-xs-12" id="<%=data._id%>">
                            <div class="card Address-card mt-3 mb-3" style="max-width: 18rem;">
                                <div class="card-body" id="cardBody">
                                    <img src="/png/location.png" id="address-logo" alt="">
                                    <ul class="address-ul mt-4" >
                                        <h6>Name: <span class="key-value"><%- data.fullName %></span></h6>
                                        <h6>Phone Number: <span class="key-value"><%- data.phoneNumber %></span></h6>
                                        <h6>Email: <span class="key-value"><%- data.email %></span></h6>
                                        <h6>Country:<span class="key-value"><%-data.country %></span></h6>
                                        <h6>Pincode: <span class="key-value"><%-data.pinCode %></span></h6>
                                        <h6>State: <span class="key-value"><%-data.state %></span></h6>
                                        <h6>District: <span class="key-value"><%-data.district %></span></h6>
                                        <h6>City: <span class="key-value"><%-data.city %></span></h6>
                                        <h6>Area: <span class="key-value"><%-data.area %></span></h6>
                                        <h6>Street: <span class="key-value"><%-data.street %></span></h6>
                                        <h6>Building; <span class="key-value"><%-data.building %></span></h6>
                                        <h6>House Number: <span class="key-value"><%-data.houseNumber %></span></h6>
                                        <input type="checkbox" class="checkbox" onclick="hideOrShow(this)">
                                    </ul>
                                    <div class="action">
                                        <div class="sub-action">
                                            <a href="/account/edit-address/<%=data._id%>" class="edit-btn hide" style="color: #04203e; font-size: 25px;">
                                                <i class="fa-solid fa-pen-to-square edit-btn"  style="color: #04203e;font-size: 25px;"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="delete-btn hide" onclick="deleteAlert() && deleteAddress('<%= data._id %>')">
                                                <i class="fa-solid fa-trash" id="delete-btn" style="color: #071836; font-size: 25px;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            <% }) %>
        <% } else { %>
            <p>No addresses found.</p>
        <% } %>
        <div class=" addAddress-btn">

            <a href="/account/addAddress"><button class="save-btn">Add Address</button></a>
        </div>
    </div>

</div>
</body>

<script>
   
   
   // Function to delete address
   const deleteAddress = async (addressId) => {
        try {
            const confirmed = await deleteAlert()
            if(confirmed){

            const response = await fetch(`/account/deleteAddress/${addressId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            if (response.ok) {
                const data = await response.json();
                document.getElementById(addressId).style.display="none"
                // window.location.reload()
                console.log(data.message);
            } else {
                console.error('Failed to delete address');
            }
        }
        } catch (error) {
            console.error('Error:', error);
        }
    };

    //Alert for adddress deletion
    function deleteAlert(){

        return new Promise((resolve)=>{
            swal.fire({
            icon:'warning',
            title:'warning',
            text:'Are you sure you want to delete the address',
            showConfirmButton:true,
            showCancelButton:true,
            cancelButtonText:'Cancel',
            timer:false

        }).then((result)=>{
            resolve(result.isConfirmed)
        })
        })
        
    }

    function hideOrShow(checkbox) {
    const cardBody = checkbox.closest('.card-body');
    const editBtn = cardBody.querySelector('.edit-btn');
    const deleteBtn = cardBody.querySelector('.delete-btn');

    // Check if the buttons are initially hidden (display: none)
    const isEditBtnHidden = window.getComputedStyle(editBtn).display === 'none';
    const isDeleteBtnHidden = window.getComputedStyle(deleteBtn).display === 'none';

    // Toggle the display based on the initial state
    if (isEditBtnHidden && isDeleteBtnHidden) {
        editBtn.style.display = 'block';
        deleteBtn.style.display = 'block';
    } else {
        editBtn.style.display = 'none';
        deleteBtn.style.display = 'none';
    }
}



</script>

