<%- include('../user/partials/header') %> 

<!--Navbar-->

<%-include('../user/partials/navbar') %>

<div class="container mt-4">
        <div class="row">
            <% brandProducts.forEach((brand) => { %>
                <div class="col-3 ">
                    <div class="card mb-4 ">
                        <a href="/productview/<%= brand._id %>">
                        <img style="width: 300px; height: 300px;" src="/uploads/<%=brand.image[4] %>" class="card-img-top product-image" alt="<%= brand.productName %>"></a>
                        <div class="card-body">
                            <h5 class="card-title"><%= brand.productName %></h5>
                            <p class="card-text" style="color: red;">Price: $<%= brand.price %></p>
                            <!-- Additional product details if needed -->
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
</div>

<!--pagination-->
<div class="pagination">
    <% if(currentPage > 1) {%>
        <a class="next-btn text-white" href="/brand-wise?page=<%currentPage -1 %>">Previous</a>
    <% } %>

    <% for(let i=1; i<=totalPages; i++) {%>
        <%if(i===currentPage) { %>
            <span><%= i %></span>
        <% }else {%>
            <a class="second" href="/brand-wise?page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>

    <%if(currentPage < totalPages) {%>
        <a class="next-btn text-white" href="/brand-wise?page=<%=currentPage + 1 %>">Next</a>
    <% } %>
</div>
