<!--header-->
<%- include('../user/partials/header') %> 
<%- include('../user/partials/links') %>
<!--Navbar-->
<%- include('../user/partials/navbar') %>

<div class="container-fluid m-0">
    <div class="row">
        <div class="col-lg-2 p-0">
            <%-include('../admin/partials/sidebar') %>
        </div>
        <div class="col-lg-10 p-0">
            <!---order div-->
            <section class="h-100 gradient-custom shadow">
                <div class="container-fluid py-2 h-100 ">
                  <div class="row h-100 p-3">
                    <div class="col-12 px-2">
                      <div class="card shadow" style="border-radius: 10px;">
                        <div class="card-body p-4">
                          <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <% if (userOrderWithProducts && userOrderWithProducts.length > 0) { %>
                                  <% userOrderWithProducts.forEach(order => { %>
                                    <% if (order.orderedProductInfo) { %>
                                        <% order.orderedProductInfo.forEach(data =>{ %>
                                        <ul class="orderli">
                                            <li>Product</li>
                                            <li>Product Name</li>
                                            <li>Specififcation</li>
                                            <li>Quantity</li>
                                            <li>Price</li>
                                        </ul>
                                        <div class="row">
                                          <div class="col-md-3">
                                            <img src="/uploads/<%= data.image[4] %>" class="img-fluid" alt="Phone" width="120px">
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0"><%= data.productName %> </p>
                                          </div>
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0 small"><%= data.specifications[0] %></p>
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0 small"> <%= order.products.quantity %></p>
                                          </div>
                                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-dark mb-0 small"><%= data.price %></p>
                                          </div>
                                        </div>
                                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                        <% }) %>
                                        <% } else { %>
                                      <h3>No data available</h3>
                                    <% } %>
                                    
                                  <% }) %>
                                <% } else { %>
                                  <h3>No data available</h3>
                                <% } %>
                              </div>
                          </div>
                        </div>
                        
                        <div class="card-footer border-0 "
                          style="background-color: #001524;padding: 7px; border-bottom-left-radius: 15px; border-bottom-right-radius: 10px; margin-bottom: 10px; margin-top: 40px;">
                          <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total : <%=userOrderWithProducts[0].totalAmount %></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>