<!--header-->
<%- include('../user/partials/header') %> 

<!--Navbar-->
<%- include('../user/partials/navbar') %>

<style>
    .requires {
        margin-left: 10px;
    }
</style>

<body class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <% if (locals.err) { %>
                <p id="existmsg" class="text-center" style="color: rgb(207, 0, 0);"><%= locals.err %></p>
            <% } %>

            <% if (locals.msg) { %>
                <p id="existmsg" class="text-center" style="color: green;"><%= locals.msg %></p>
            <% } %>

            <div id="errorMessage" style="color: rgb(207, 0, 0);"></div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="card-title">Reset Password</h3>
                            <p class="card-text">Enter the OTP sent to your email and set a new password.</p>
                            <form action="/reset-pass" method="post" id="form">
                                <div class="form-group">
                                    <label for="otp">Enter OTP</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="otp1" class="form-control" maxlength="1" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="otp2" class="form-control" maxlength="1" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="otp3" class="form-control" maxlength="1" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="otp4" class="form-control" maxlength="1" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input type="password"  name="password" class="form-control" id="password" placeholder="Enter new password"  >
                                    <p id="passwordError"></p>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm new password" >
                                    <p id="confirmPasswordError"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/password-validator@5.1.1/dist/password-validator.min.js"></script>

<script>
    
    // Password requirements display update function
    function updatePasswordRequirements() {
        var password = document.getElementById('password').value;
        var lengthRequirement = document.getElementById('lengthRequirement');
        var uppercaseRequirement = document.getElementById('uppercaseRequirement');
        var lowercaseRequirement = document.getElementById('lowercaseRequirement');
        var digitRequirement = document.getElementById('digitRequirement');
        var symbolRequirement = document.getElementById('symbolRequirement');
        var noSpaceRequirement = document.getElementById('noSpaceRequirement');
        var passwordRequirements = document.getElementById('passwordRequirements');

        lengthRequirement.style.color = password.length >= 8 ? 'green' : 'red';
        uppercaseRequirement.style.color = /[A-Z]/.test(password) ? 'green' : 'red';
        lowercaseRequirement.style.color = /[a-z]/.test(password) ? 'green' : 'red';
        digitRequirement.style.color = /\d/.test(password) ? 'green' : 'red';
        symbolRequirement.style.color = /[^A-Za-z0-9]/.test(password) ? 'green' : 'red';
        noSpaceRequirement.style.color = /\s/.test(password) ? 'red' : 'green';

        // Show the password requirements message
        passwordRequirements.style.display = 'block';
    }

    

        function isEmpty(value){
            const trimmed = value.trim()
            return trimmed===""
        }
        function isValidPassword(password) {
            const strongPasswordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{"':;?/>.<,])(?=.*[a-zA-Z]).{8,}$/;
            return strongPasswordPattern.test(password)
        }
        function isEqual(value1,value2){
            if(value1===value2){
                return true
            }
        }

        document.querySelector('#form').addEventListener('submit',function(event){

            var passwordInput = document.querySelector('#password')
            var passwordValue = passwordInput.value;
            var passwordError = document.querySelector('#passwordError')

            var confirmPasswordInput = document.querySelector('#confirmPassword')
            var confirmPasswordValue = confirmPasswordInput.value
            var confirmPasswordError = document.querySelector('#confirmPasswordError')

            passwordError.textContent=""
            confirmPasswordError.textContent=""

            if(isEmpty(passwordValue)){
                passwordError.textContent="please enter the new password"
                passwordError.style.color="red"
                event.preventDefault()
            }
            if(isEmpty(confirmPasswordValue)){
                confirmPasswordError.textContent="please confirm your password"
                confirmPasswordError.style.color="red"
                event.preventDefault()
            }
            if(!isValidPassword(passwordValue)){
                passwordError.textContent="password must be atleast 8 characters long,one digit,one lower case letter,one uppercase letter and atleast one special character"
                passwordError.style.color="red"
                event.preventDefault()
            }
            if(!isEqual(passwordValue,confirmPasswordValue)){
                confirmPasswordError.textContent="both passwords are incorrect"
                confirmPasswordError.style.color="red"
                event.preventDefault()
            }
            

    })



    setTimeout(function() {
    var errmsg = document.getElementById('existmsg');
    errmsg.innerHTML = ""
    },3000);

    </script>






  <!---footer-->
  <%-include('../user/partials/footer') %>
