<!--header-->

<style>

.hide-content {
    display: none;
  }

</style>


<%-include('../user/partials/header') %>
  <%-include('../user/partials/navbar') %>
    <div class="page ">
      <div class="row m-0">
        <div class="col-2 filter-sidebar  p-0">
          <h6 class="text-white text-center mt-4 heading">Filter The Products</h6>
          <div class="col-lg-12 filter-div">
            <form id="filterForm">
            <div class="inner"> 
              <% if(brand && brand.length>0){ %>
                <% brand.forEach((brands,index)=> {%>
                  <div class="form-check">
                    <input class="form-check-input brandCheckbox" type="checkbox" name="brands"
                      value="<%=brands._id %>" style="cursor: pointer;">
                    <label class="form-check-label " for="<%=brands.brandName %>">
                      <%=brands.brandName %>
                    </label>
                  </div>
                  <% }) %>
                    <% } %>
            </div>
          </div>
          <div class="col-lg-12 filter-div mt-4">
            <h6 class="text-center heading">Price Wise</h6>
            <div class="inner">
              <div class="form-check">
                <input class="form-check-input priceCheckbox" type="checkbox" name="priceRanges" value="0-10000" 
                  style="cursor: pointer;">
                <label class="form-check-label" for="">Under 10000</label>
              </div>
              <div class="form-check">
                <input class="form-check-input priceCheckbox" type="checkbox" name="priceRanges" value="10000-25000"
                  style="cursor: pointer;">
                <label class="form-check-label" for="">10000-25000</label>
              </div>
              <div class="form-check">
                <input class="form-check-input priceCheckbox" type="checkbox" name="priceRanges" value="25000-50000"
                   style="cursor: pointer;">
                <label class="form-check-label" for="">25000-50000</label>
              </div>
              <div class="form-check">
                <input class="form-check-input priceCheckbox" type="checkbox" name="priceRanges" value="50000-100000"
                   style="cursor: pointer;">
                <label class="form-check-label" for="">50000-100000</label>
              </div>
              <div class="form-check">
                <input class="form-check-input priceCheckbox" type="checkbox" name="priceRanges" value="100000-200000"
                   style="cursor: pointer;">
                <label class="form-check-label" for="">Above 100000</label>
              </div>
              
              <h6 class="heading mt-3">Sort By</h6>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="priceLowToHigh" style="cursor: pointer;">
                <label class="form-check-label" for="">Price Low to High</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="priceHighToLow" style="cursor: pointer;">
                <label class="form-check-label" for="">Price High to Low</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="newestFirst" style="cursor: pointer;">
                <label class="form-check-label" for="">Newest First</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="oldestFirst" style="cursor: pointer;">
                <label class="form-check-label" for="">Oldest First</label>
              </div>
              <button type="submit" id="applyFiltersBtn" class="btn btn-primary mt-3">Apply Filters</button>
            </div>
          </div>
        </form>
        </div>
        <div class="col-10">
        
          <!--Navbar-->
          <div class="container  filter-container mt-3">
            <div class="row categroy-li">
              <div class="col-sm-3 col-md-4 col-lg-2">
                <% if(categories && categories.length> 0){ %>
                  <ul class="category">
                    <% categories.forEach(data=>{ %>
                      <li><a href="/allproductview/<%=data._id%>">
                          <%=data.CategoryName %>
                        </a></li>
                      <% }) %>
                  </ul>
                  <% }else{%>
                    <p>No Category Found</p>
                    <% } %>
              </div>
              <% if(allBanners && allBanners.length > 0){ %>
                <div class="col-sm-5 col-md-4 col-lg-10 d-flex banner-main" style="background-color: black">
                  <img src="/uploads/banner-images/<%=allBanners[0].image %>" width="100%" alt="">
                </div>
                <% } %>
                <div class="col-lg-12"  id="productContainer"></div>

          <!-- Inside your EJS template -->
          <section>
            <div class="container">
              <div class="row">
                <div class="premium">
                  <div class="premium-text">
                    <div class="square"></div>
                    <h6>Premium Segment</h6>
                  </div>
                  <div class="pre-head1">
                    <h3>Latest Premium Collections</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>
            </div>
          <div class="container-fluid">
            <div class="row premium-phones">
              <% data.forEach(function(x) { %>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="iphone" style="position: relative;">
                    <!-- Create a link around the image with the product ID as a query parameter -->
                    <% if (offeredProducts && offeredProducts.length > 0) { %>
                      <% let hasProductOffer = false; %>
                      <% let hasCategoryOffer = false; %>
                      <% let productOfferPercentage = 0; %>
                      <% let categoryOfferPercentage = 0; %>
                      <% offeredProducts.forEach(offer => { %>
                        <% if (offer.offerType === 'productOffer') { %>
                          <% offer.offerProducts.forEach(data => { %>
                            <% if (x._id.toString() === data.productId.toString()) { %>
                              <% hasProductOffer = true; %>
                              <% productOfferPercentage = data.OfferPercentage; %>
                            <% } %>
                          <% }); %>
                        <% } else if (offer.offerType === 'categoryOffer') { %>
                          <% offer.productsWithCategoryOffer.forEach(item => { %>
                            <% if (offer.offerType === 'categoryOffer' && x.category.toString() === item.categoryId.toString()) { %>
                              <% hasCategoryOffer = true; %>
                              <% categoryOfferPercentage = item.OfferPercentage; %>
                            <% } %>
                          <% }); %>
                        <% } %>
                      <% }); %>
          
                      <% if (hasProductOffer) { %>
                        <div class="offer-badge">
                          <span><%= productOfferPercentage %> Offer</span>
                        </div>
                      <% }else if(hasCategoryOffer) {%>
                        <div class="offer-badge bg-success">
                          <span><%= categoryOfferPercentage%> Offer</span>
                        </div>
                      <% } %>
                    <% } %>
          
                    <a href="/productview/<%= x._id %>">
                      <img class="product-image mt-4" src="/uploads/<%= x.image[4] %>" alt="<%= x.productName %>" />
                    </a>
                  </div>
                  <div class="details">
                    <!-- Display product information dynamically -->
                    <h5 class="text-danger">
                      <%= x.productName %>
                    </h5>
                    <%if(x.discountedPrice){ %>
                    <h5 class="">₹<%= x.discountedPrice %></h5>
                    <a class="btn" style="background-color:#001524; color: white; width: 100%;" data-productId="<%=x._id %>" onclick="addToCart(event)">Add To Cart</a>
                    <% }else{ %>
                      <h5 class="">₹<%= x.price %></h5>
                      <a class="btn" style="background-color:#001524; color: white; width: 100%;" data-productId="<%=x._id %>" onclick="addToCart(event)">Add To Cart</a>
                    <%} %>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
          


          <div class="view-all">
            <form action="/allproductview/<%= Category._id %>" method="get">
              <button type="submit">View All Products</button>
            </form>
          </div>

          <section>
            <div class="container">
              <div class="row">
                <div class="premium">
                  <div class="premium-text">
                    <div class="square"></div>
                    <h6>Categories</h6>
                  </div>
                  <div class="pre-head2">
                    <h3>Browse By Brands</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="container">
            <div class="row brand-wiseDiv">
              <% brand.forEach((brands)=> { %>
                <div class="col-sm-6 col-md-3 col-lg-2">
                  <div class="rectangle">
                    <a id="brand-logo" href="/brand-wise/<%=brands._id%>">
                      <img src="/uploads/<%= brands.image %>" alt="<%= brands.productName %>" class="brand-logo ">
                    </a>
                  </div>
                </div>
                <% }); %>
            </div>
          </div>

          <section>
            <div class="container">
              <div class="row">
                <div class="premium">
                  <div class="premium-text">
                    <div class="square"></div>
                    <h6>Today's</h6>
                  </div>
                  <div class="flash">
                    <h3>Flash sales</h3>

                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="container mt-4">
            <div class="row">
              <% flashSales.forEach(product=> { %>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="iphone">
                    <% if (offeredProducts && offeredProducts.length > 0) { %>
                      <% let hasProductOffer = false; %>
                      <% let hasCategoryOffer = false; %>
                      <% let productOfferPercentage = 0; %>
                      <% let categoryOfferPercentage = 0; %>
                      <% offeredProducts.forEach(offer => { %>
                        <% if (offer.offerType === 'productOffer') { %>
                          <% offer.offerProducts.forEach(data => { %>
                            <% if (product._id.toString() === data.productId.toString()) { %>
                              <% hasProductOffer = true; %>
                              <% productOfferPercentage = data.OfferPercentage; %>
                            <% } %>
                          <% }); %>
                        <% } else if (offer.offerType === 'categoryOffer') { %>
                          <% offer.productsWithCategoryOffer.forEach(item => { %>
                            <% if (offer.offerType === 'categoryOffer' && product.category.toString() === item.categoryId.toString()) { %>
                              <% hasCategoryOffer = true; %>
                              <% categoryOfferPercentage = item.OfferPercentage; %>
                            <% } %>
                          <% }); %>
                        <% } %>
                      <% }); %>
          
                      <% if (hasProductOffer) { %>
                        <div class="offer-badge">
                          <span><%= productOfferPercentage %>% Offer</span>
                        </div>
                      <% }else if(hasCategoryOffer) {%>
                        <div class="offer-badge bg-success">
                          <span><%= categoryOfferPercentage%> % Offer</span>
                        </div>
                      <% } %>
                    <% } %>
                    <a href="/productview/<%= product._id %>"><img class="product-images"
                        src="/uploads/<%= product.image[4] %>" alt="<%= product.name %>" /></a>
                    <!-- <i class="fas fa-heart" style="position: absolute; right: 31px; top: 24px;font-size: 28px;color:#001524;"></i> -->
                  </div>
                  <div class="details">
                    <h6 class="mt-4">
                      <%= product.productName.toUpperCase() %>
                    </h6>
                    <p style="font-size: 20px;">$<%= product.price.toLocaleString() %>
                    </p>
                  </div>
                  <a class="btn" style="background-color:#001524; color: white; width: 100%;"
                    data-productId="<%=product._id %>" onclick="addToCart(event)">Add To Cart</a>
                </div>
                <% }); %>
            </div>
          </div>

          <div class="view-all">
            <form action="/allproductview/<%= locals.flashSalesId %>" method="get">
              <button type="submit">View All Products</button>
            </form>
          </div>


          <section>
            <div class=" mt-5">
              <div class="container-fluid">
                <div class="row m-0" style="background-color: black;border-radius: 17px;">
                  <% if(allBanners && allBanners.length > 0){ %>
                    <div class="col-lg-12 p-0">
                      <img src="/uploads/banner-images/<%=allBanners[1].image %>" width="100%"  alt="">
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="view-all2">
                <button type="submit">View All Products</button>
              </div>
            </div>

          </section>

          <section>
            <div class="container">
              <div class="row">
                <div class="premium">
                  <div class="premium-text">
                    <div class="square"></div>
                    <h6>Latest</h6>
                  </div>
                  <div class="pre-head1">
                    <h3>Best Seller</h3>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="container">
            <div class="row">
              <% bestSellerData.forEach(product=>{%>
                <div class="col-sm-12 col-md-4 col-lg-3">
                  <div class="iphone">
                    <a href="/productview/<%=product._id %>"><img class="product-images"
                        src="/uploads/<%=product.image[4]%>" alt=""></a>
                  </div>
                  <div class="details">
                    <h6 class="mt-4" style="font-size: 20px;">
                      <%= product.productName.toUpperCase() %>
                    </h6>
                    <p style="font-size: 20px;">$<%= product.price.toLocaleString() %>
                    </p>
                  </div>
                  <a class="btn" style="background-color:#001524; color: white; width: 100%;"
                    data-productId="<%=product._id %>" onclick="addToCart(event)">Add To Cart</a>
                </div>
                <%})%>
            </div>
          </div>

          <div class="view-all">
            <form action="/allproductview/<%= locals.bestSellerId %>" method="get">
              <button type="submit" class="mb-5">View All Products</button>
            </form>
          </div>

          <section>
            <div class="container mt-5">
              <div class="row">
                <div class="round-icon">
                  <div class="foot-icon"><img src="/svg/delivery.svg" alt=""></div>
                  <div class="foot-icon"><img src="/svg/service.svg" alt=""></div>
                  <div class="foot-icon"><img src="/svg/secure.svg" alt=""></div>
                </div>
                <div class="trade-mark">
                  <div class="td1">
                    <h4>FREE AND FAST DELIVERY</h4>
                    <p>free delivery for all orders over $140</p>
                  </div>
                  <div class="td1">
                    <h4>24/7 CUTOMER SERVICE</h4>
                    <p>friendly 24/7 cutomer support</p>
                  </div>
                  <div class="td1">
                    <h4>MONEY BACK GUARANTEE</h4>
                    <p>we return money within 30 days </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    


    <%-include('./partials/footer.ejs') %>

      <script>

        document.getElementById("filterForm").addEventListener("submit",(e)=>{
          e.preventDefault()
        })
        // function to add a product to the cart
        function addToCart(event) {
          event.preventDefault()
          var productId = event.target.getAttribute('data-productId')
          var quantity = 1
          const data = { productId, quantity }

          fetch('/cart/add-cart', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire({
                  icon: 'success',
                  title: 'success',
                  text: 'Product added to cart',
                  showConfirmButton: false,
                  timer: 1500
                });
              } else {
                throw new Error(data.message || 'Failed to add product to cart');
              }
            })
            .catch(err => {
              console.error(err)
              Swal.fire({
                icon: 'error',
                title: 'Oops',
                text: error.message || 'Something went wrong',
                timer: 2000
              });
            })
        }



// Function to create a product card HTML element
function createProductCard(product) {
  const card = document.createElement('div');
  card.className = 'card col-lg-12 m-5 mb-4'; // Added 'col-lg-3' for Bootstrap grid and 'mb-4' for margin-bottom

  // Check if product.image is an array and has at least 5 elements
  if (Array.isArray(product.image) && product.image.length >= 5) {
    // Access the fifth element (index 4) of the image array
    const fifthImage = product.image[4];
    card.style.height ='360px'
    card.innerHTML = `
      <div class="product-images">
        <a href="/productview/${product._id}">
        <img src="/uploads/${fifthImage}" alt="${product.productName}" style="width:auto;height:200px;margin-top:15px">
        </a>
      </div>
      <div class="product-info">
        <h4>${product.productName}</h4>
        <h5 class ="text-danger">Price: $${product.discountedPrice > 0 ? product.discountedPrice : product.price}</h5>
        <a class="btn" style="background-color:#001524; color: white; width: 100%;" data-productId="${product._id}" onclick="addToCart(event)">Add To Cart</a>
      </div>
    `;
  } else {
    // Handle the case where product.image is not an array or does not have enough elements
    console.error('Invalid product.image array:', product.image);
  }

  return card;
}



// Function to fetch products based on selected filters
async function fetchProducts() {
  const brandCheckboxes = document.querySelectorAll('.brandCheckbox:checked');
  const priceCheckboxes = document.querySelectorAll('.priceCheckbox:checked');
  const sortOption = document.querySelector('input[name="sort"]:checked').value;
  console.log(priceCheckboxes)
  console.log(brandCheckboxes)
  console.log(sortOption)

  const brands = Array.from(brandCheckboxes).map(checkbox => checkbox.value);
  const priceRanges = Array.from(priceCheckboxes).map(checkbox => checkbox.value);

  try {
    // Use GET method without a request body
    const response = await fetch(`/products-filter?brands=${brands.join(',')}&priceRanges=${priceRanges.join(',')}&sort=${sortOption}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
    });
    
    if (!response.ok) {
      throw new Error('Failed to fetch products');
    }

    const products = await response.json();
    displayProducts(products);
  } catch (err) {
    console.error('Error fetching products:', err);
  }
}

// Function to display products as cards with each row containing 4 products
function displayProducts(products) {
  const productContainer = document.getElementById('productContainer');
  productContainer.innerHTML = ''; // Clear existing content

  // Create rows with 4 products each
  for (let i = 0; i < products.length; i += 4) {
    const row = document.createElement('div');
    row.className = 'row';

    // Create product cards for the current row
    for (let j = i; j < i + 4 && j < products.length; j++) {
      const productCard = createProductCard(products[j]);
      const col = document.createElement('div');
      col.className = 'col-lg-3';
      col.appendChild(productCard);
      row.appendChild(col);
    }

    // Append the row to the container
    productContainer.appendChild(row);
  }
}

document.getElementById('applyFiltersBtn').addEventListener('click', fetchProducts);

</script>