<!--header-->

<%- include('partials/header') %> 

<!--Navbar-->

<%-include('partials/navbar') %>


<section>
    <div class="main w-100">
      <div class="sign-image vw-50">
          <img src="/images/signup-image.png" alt="">
      </div>
  
      <div class="sign-form vw-50 ">
          <form class="signup-form" id="login-form">
            
            
            
            <h3>Login to M-CART</h3>
            <p>Enter your details below </p>
              <div class="mb-3 ">
                <div id="errorMessage" style="color: rgb(207, 0, 0); ">
                  <% if (locals.err) { %>
                    <p id="errmsg" style="color: rgb(207, 0, 0);"><%= locals.err %></p>
                  <% } %>
                  <% if (locals.msg) { %>
                    <p id="msg" style="color: green; "><%= locals.msg %></p>
                  <% } %>
                </div>
                <label for="exampleInputPassword1" class="form-label"></label>
                <input type= "email" name="email"  class="form-control" placeholder="Email or Phone Number" id="exampleInputEmail1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"></label>
                <input type="password" name="password" class="form-control" placeholder="Password"  id="exampleInputPassword1">
              </div>
              <div class="login-items">
                <form action="/user/login" method="post">
                <button class="login-btn"  type="submit">Login</button>
              </form>
                <a class=" forgot ml-5" href="/forgot-pass">Forgot Password ?</a>
              </div>
            </form>
      </div>
    </div>
    </section>
    <script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
      e.preventDefault(); // Prevent the default form submission
  
      // Get form data
      const email = document.querySelector("input[name='email']").value;
      const password = document.querySelector("input[name='password']").value;
      
      // Create a data object to send via fetch
      const data = {
        email:email,
        password:password
      };
      
      // Make a Fetch request to your server
      fetch('/user/login', {
          method: 'POST',
          headers:{
            "Content-type":"application/json"
          },
          body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        console.log("response",data);
          // Handle the response from the server
          if (data.success) {
            
              window.location.href = "/user/home"; // Redirect to the home page
              console.log('Login successful');
          } else {
              document.getElementById("errorMessage").textContent = data.err; // Display the error message 
              console.log('Login failed');
          }
      })
      .catch(error => {
          // Handle network or server errors
          console.error('Error:', error);
      });
  });

  // hide error message

  setTimeout(function() {
    var errmsg = document.getElementById('errorMessage');
    var msg = document.getElementById('msg')
    errmsg.textContent = ""
    msg.textContent = ""
    },2000);

</script>
  
  </body>
  </html>

  <!---footer-->
  <%-include('partials/footer') %>

